# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
**/*.egg-info
**/*.egg


# Unit test / coverage reports
.tox/
.coverage
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# IDE
# .vscode/
venv/

# Documentation
docs/_*/
docs/**/_generated_*/

# Local development
*.log
